body{
    background-color: black;
}

img{
    width: 300px;
    height: 300px;
    
}
p{
    text-align: center;
    color:whitesmoke;
}
h1 
{
    text-align: center;
    color: whitesmoke;
}
h2{
    text-align: center;
    color: whitesmoke;
}
h3{
    text-align: center;
    color: whitesmoke;
}
table{
   border: 1px solid;
   border-color: whitesmoke;
    color: azure;    
    
}

th, tr, td{
    border: 1px solid;
    padding: 5px 5px;
    color: whitesmoke;
}
